.contacts {
  position: relative;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

.contacts__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}