.last {
  position: relative;
  background: url(../images/background/bg-about.jpg) no-repeat center / cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .2));
  }
}