.preview__list {
  display: flex;
  justify-content: flex-end;
}

.preview__item {
  &.active,
  &:hover {
    z-index: 20;

    & .preview__link {
      box-shadow: 0 0 0 2px #f29400;
    }
  }

  &.active > .preview__link {
    pointer-events: none;
  }
}

.preview__link {
  display: block;
  width: 160px;

  @include desktop {
    width: 120px;
  }

  @include tablets {
    width: 110px;
  }
}