.scroll-btn {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  transition: .3 color ease;

  &:hover {
    color: #f29400;
  }
}

.scroll-btn__text {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
}

.scroll-btn__icon {
  width: 20px;
  fill: currentColor;
}