.slider {
  position: relative;
}

.slider__preview {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 10;

  @include phones {
    display: none;
  }
}

.slider__control {
  position: absolute;
  bottom: 50px;
  left: 100%;
  z-index: 10;

  @include phones {
    bottom: 0;
    right: 0;
    left: inherit;
  }
}