.social {
  display: flex;
}

.social__item {
  & ~ .social__item {
    margin-left: 40px;
    @include desktop {
      margin-left: 30px;
    }
  }
}

.social__link:hover .social__icon {
  fill: #f29400;
}

.social__icon {
  width: 25px;
  height: 25px;
  fill: rgba(#fff, .6);
  transition: .3s ease;
}