.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags__item {
  border-radius: 30px;
  background-color: rgba(#7aa0c5, .2);
  padding: 13px 19px;
  font-size: 15px;

  @include desktop {
    padding: 7px 10px;
    font-size: 14px;
  }

  & ~ .tags__item {
    margin-left: 10px;

    @include desktop {
      margin-left: 5px;
    }
  }
}