.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card__photo {
  width: 200px;
  margin-bottom: 80px;

  @include tablets {
    width: 170px;
  }
}

.user-card__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-card__title {
  flex-grow: 1;
  font-weight: 600;
  opacity: 0.15;
}

.user-card__value {
  width: 150px;
  margin-left: 60px;

  @include tablets {
    margin-left: 20px;
  }
}