.user-info__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
}

.user-info__subs {
  width: 165px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 100%;
  text-align: right;
  margin-right: 60px;

  @include desktop {
    margin-right: 40px;
  }
}