.contacts#contacts
  .contacts__container.container
    h2.section-title Связаться со мной

    .contacts__block
      form.contacts-form
        .contacts-form__row
          .contacts-form__item
            span.contacts-form__title Введите ваше имя
            label.contacts-form__label
              .contacts-form__pic
                +icon('user', 'contacts-form__icon')
              .contacts-form__field
                input(type="text" name="name" placeholder="Имя").contacts-form__input

          .contacts-form__item
            span.contacts-form__title Введите ваш email
            label.contacts-form__label
              .contacts-form__pic
                +icon('envelope', 'contacts-form__icon')
              .contacts-form__field
                input(type="email" name="email" placeholder="mail@example.com").contacts-form__input

        .contacts-form__row
          .contacts-form__item
            span.contacts-form__title Сообщение к письму
            label.contacts-form__label
              .contacts-form__pic.contacts-form__pic--textarea
                +icon('message', 'contacts-form__icon')
              .contacts-form__field
                textarea(name="message" placeholder="Сообщение к письму").contacts-form__input.contacts-form__input--textarea

        .contacts-form__row
          .contacts-form__item
            button(type="submit").contacts-form__btn Отправить