- var navLink = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
- 
  var social = [
    {
      link: 'https://www.instagram.com/?hl=ru',
      icon: 'insta',
      title: 'Instagram'
    },
    {
      link: 'https://vk.com/d.toropin',
      icon: 'vk',
      title: 'VKontakte'
    },
    {
      link: 'https://github.com/dtoropin',
      icon: 'github',
      title: 'github'
    }
  ]

//- section first
section.first
  .first__container.container
    header.header
      .logo ДТ

      nav.nav
        ul.nav__list
          - for (var i = 0; i < navLink.length; i++)
            li.nav__item
              a.nav__link(href="#")= navLink[i]

      ul.social
        - for (var i = 0; i < social.length; i++)
          li.social__item
            a.social__link(href=`${social[i].link}` title=`${social[i].title}` target='_blank')
              +icon(`${social[i].icon}`, 'social__icon')

    .first__head
      h1.first__head-title Денис Торопин
      span.first__head-subs Личный сайт веб&nbsp;разработчика

    .first__scroll
      span.first__scroll-text Скролл
      +icon('scroll', 'first__scroll-icon')