- 
  var navLink = [
    {
      title: 'Главная',
      link: '#welcome'
    },
    {
      title: 'Обо мне',
      link: '#user'
    },
    {
      title: 'Навыки',
      link: '#skills'
    },
    {
      title: 'Работы',
      link: '#works'
    },
    {
      title: 'Отзывы',
      link: '#about'
    },
    {
      title: 'Связаться',
      link: '#contacts'
    }
  ]

-
  var social = [
    {
      link: 'https://www.instagram.com/?hl=ru',
      icon: 'insta',
      title: 'Instagram'
    },
    {
      link: 'https://vk.com/d.toropin',
      icon: 'vk',
      title: 'VKontakte'
    },
    {
      link: 'https://github.com/dtoropin',
      icon: 'github',
      title: 'github'
    }
  ]

footer.footer
  .footer__container.container
    .footer__copy ©&nbsp;2019
    .footer__title
      h3.footer__name Денис Торопин
      span.footer__subs Личный сайт веб&#8209;разработчика
    .footer__block
      .footer__nav
        ul.nav__list
          - for (var i = 0; i < navLink.length; i++)
            li.nav__item
              a.nav__link(href=`${navLink[i].link}`)= navLink[i].title

      .footer__info
        .footer__personal
          .footer__text
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool

          ul.footer__social
            - for (var i = 0; i < social.length; i++)
              li.footer__item
                a.footer__link(href=`${social[i].link}` title=`${social[i].title}` target='_blank')
                  +icon(`${social[i].icon}`, 'footer__icon')

        .footer__cite
          .footer__text
            p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          span.footer__author Martin Golding