.popup
  .popup__block
    span.popup__text Письмо отправлено
    button(type='button').popup__btn Закрыть

  .popup-server__mes
    span.popup-server__text Сообщение отправлено
    button(type='button').popup-server__btn