- 
  var frontEnd = [
    {label: 'HTML5', percent: 25},
    {label: 'CSS3', percent: 15},
    {label: 'javascript', percent: 75},
    {label: 'jQuery и Vue.js', percent: 25}
  ]
- 
  var workbench = [
    {label: 'GIT', percent: 10},
    {label: 'Terminal', percent: 25},
    {label: 'Gulp', percent: 50},
    {label: 'Webpack', percent: 45}
  ]

//- section skills
.skills#skills
  .skills__container.container
    .skills__head
      h2.section-title--mid Чем я могу быть полезен вам
      .skills__subs
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

    ul.skills__charts
      li.chart
        h3.chart__label Front-end
        +chart(frontEnd)

      li.chart
        h3.chart__label Workflow
        +chart(workbench)