- 
  var frontEnd = [
    {label: 'HTML5', percent: 25},
    {label: 'CSS3', percent: 15},
    {label: 'javascript', percent: 75},
    {label: 'jQuery и Vue.js', percent: 25}
  ]
- 
  var workbench = [
    {label: 'GIT', percent: 10},
    {label: 'Terminal', percent: 25},
    {label: 'Gulp', percent: 50},
    {label: 'Webpack', percent: 45}
  ]

//- section skills
.skills
  .skills__container.container
    .skills__head
      h2.skills__title Чем я могу быть полезен вам
      .skills__subs
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

    .skills__charts
      .skills__label Front-end
      .skills__row
        +skills(frontEnd)

      .skills__label Workflow
      .skills__row
        +skills(workbench)