.skills
  .skills__container.container
    .skills__head#skills
      h2.section-title--mid Чем я могу быть полезен вам
      .skills__subs
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

    #skills-component