include ./pug/_mixins.pug
- var favicon = require('images/favicon/favicon.png')

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="icon" type="image/png" href=favicon)
    title Portfolio | main page
  body
    .wrapper
      .first
        - for (var i = 4; i > 0; i--)
          .first__layer(class=`first__layer--${i}`)
        include ./pug/welcome.pug
        include ./pug/user.pug
      include ./pug/skills.pug
      include ./pug/works.pug
      .last
        include ./pug/about.pug
        include ./pug/contacts.pug
      include ./pug/footer.pug

    include ./pug/popup.pug
    include ./pug/templates/entry.pug